form {
    max-width: 400px;
    margin:auto;
    padding: 1em;
    border: 1px solid #ccc;
    border-radius: 1em;
}

div + div {
    margin-top: 1em;
}

label {
    display: block;
    margin-bottom: .5em;
}

input {
    border: 1px solid #ccc;
    padding: 0.5em;
    font-size: 1em;
    width: 100%;
    box-sizing: border-box;
}

button{
    padding: 0.7em;
    color: #fff;
    background-color: #007BFF;
    border: none;
    border-radius: .3em;
    cursor:pointer;
    font-size: 1em;
}
button:hover {
    background-color: #0056b3;
}