body{
   margin: 0;
   padding: 0;
   background-color: gray;
}

header{
    background-color: rgb(31, 30, 30);
    color: white;
    text-align: center;
    padding: 1em 0;
}

header nav ul{
    list-style: none;
}

header nav ul li{
    display: inline;
    margin: 0 1em;
}

header nav ul li a{
    color: white;
    text-decoration: none;
}

header h1 {
    margin: 0.5em 0 0.2em 0;
}
main{
    padding: 1em;
}

.blog-post{
    background-color: white;
    box-shadow: 0 0 10px black;
    padding: 1em;
    margin: 1em 0;
}

.blog-post h2{
    margin-top:0;
}

footer{
    background-color: black;
}