body{
    background-color: #000000;
    color: #ffffff;
    margin: 0;
    padding: 0;
    /* font-family: "Dancing Script", cursive; */
}

.app{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.navParent{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navParent img {
    height: 50px;
    width: 50px;
}

.navChild{
    display: flex;
    align-items: center;
}
.navArea{
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 20px;
}
.navArea li {
    display: inline;
}

.navArea li a {
    text-decoration: none;
    color: #ffffff;
    font-size: 16px;
}

.main{
    padding: 50px;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
}

.intro p {
    font-size: 18px;
}
a {
    text-decoration: none;
    color: #ffffff;
}
.history {
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
    line-height: 0.3rem;
}
.history-item{
    display: flex;
    align-items: center;
    gap: 1rem;
}
.history-item p{
    font-weight: 600;
    margin: 0;
}
.history-list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 0.2rem;
}
.historyImage{
    max-width: 25px;
    margin-right: 0.5rem;
    height: 15px;
}

.history-list .historyDescription{
    margin: 0;
    padding: 0;
}
.button-link{
    display: inline-flex;
    align-items: center;
    padding:  0.5rem 1rem;
    background-color: rgba(2, 20, 55, 0.5);
    font-weight: 600;
    font-size: 0.8rem;
    border-radius: 0.3rem;
    height: 15px;
}

.button-link:hover {
    background-color: rgba(0, 1, 2, 0.5);   
}

.stuffs div + div {
    margin-top: 50px;
}